html {
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container__header {
  /* background-image: url(../../imgs/Rectangle.png); */
}

.header__content {
  background-color: #181444;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.header__title {
  color: #fff;
  font-size: 16px;
}

.header__container-logo {
  display: flex;
  align-items: center;
  width: 95%;
  text-decoration: none;
}

/* .header__container-logo:hover {
  cursor: pointer;
} */
.banner__content--title {
  font-size: 70px;
}

.header__content-body {
  height: 100vh;
  width: 100vw;
  background-image: url(../../imgs/Banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner__content {
  padding-top: 150px;
  padding-left: 70px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.banner__content--des {
  font-weight: 400;
}

.header__countdown {
  display: flex;
  padding-bottom: 50px;
  font-size: 60px;
  width: 574px;
  justify-content: space-between;
  margin-left: -35px;
}

#days,
#hours,
#minutes {
  display: grid;
  margin: 0px 30px;
  text-align: center;
}

span {
  font-size: 18px;
}

.header__button {
  border-radius: 35px;
  border: 3px solid #f4811f;
  display: flex;
  font-size: 22px;
  width: 354px;
  height: 68px;
  justify-content: space-between;
  align-items: center;
  background: #f4811f;
  color: #fff;
  box-shadow: 5px 5px 5px #1e1e28;
}

.header__button:hover {
  cursor: pointer;
  background-color: #7e410b;
  border: 3px solid #7e410b;
}

.form_icon {
  padding-top: 5px;
}

#about {
  display: inline-block;
  width: 100%;
}

#contact {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
}

.customer_content {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
  gap: 10px;
}

.image_customer {
  list-style: none;
  display: flex;
}

.customer__description {
  width: 38%;
}

.contact__container-content {
  width: 90%;
  padding-bottom: 80px;
}

h2 {
  font-size: 42px;
  margin-bottom: 0;
}

p {
  font-size: 18px;
  font-weight: 600;
}

/* li {
  width: 100px;
  height: 100px;
  padding: 0px 50px;
} */
.wrab_about--one,
.wrab_about--two,
.wrab_about--three {
  width: 100%;
  display: none;
}

.image__container--display {
  display: block;
  animation-name: opacityDisplay;
  animation-duration: 1s;
}

.about__content-list {
  display: grid;
  grid-template-columns: 40% 30% auto;
  gap: 35px;
  width: 90%;
  margin: auto;
  padding-left: 0;
  list-style: none;
}

.image_item1,
.image_item3 {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image_item2 {
  width: 100%;
  height: 60%;
}

li {
  padding: 0;
}

.image__company {
  /* margin-bottom: 15px; */
  width: 100%;
  height: 38%;
  object-fit: cover;
  border-radius: 11px;
}

.image__company-last {
  width: 100%;
  height: 53%;
  object-fit: cover;

  object-fit: cover;
  border-radius: 11px;
}

.image__company-last2 {
  width: 100%;
  height: 43%;
  object-fit: cover;
}

.image__company-two {
  object-fit: cover;
  width: 100%;
  border-radius: 11px;
  height: 58%;
}

.image__company-three {
  object-fit: cover;
  width: 100%;
  border-radius: 11px;
  height: 100%;
}

.about__content-header {
  text-align: center;
}

/* .image_customer1,
.image_customer2,
.image_customer4,
.image_customer5 {
  width: 20%;
  padding: 0 0;
}
.image_customer3,
.image_customer6 {
  width: 10;
} */

/* Popup Modal Styles */
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* overflow: auto; */
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.header__button-text-responsive {
  display: none;
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 18px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.customer_image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.customer_image:hover {
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.submit__form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 600;
}

.input__form {
  border-radius: 35px;
  padding: 14px;
  margin: 12px 0 30px 0;
  border: 1px solid #ccc;
}

.submit__button {
  display: flex;
  justify-content: center;
}

.confirm__button {
  width: 150px;
  height: 40px;
  border-radius: 35px;
  background: #f4811f;
  border: none;
}

.confirm__button:hover {
  cursor: pointer;
  opacity: 0.4;
}

.customer__description-popup {
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 20px 30px;
}

.footer__copyright {
  color: #fff;
}

.header__button-text {
  padding-left: 70px;
  font-size: 21px;
}

.slide-container {
}

.dot__container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
  /* display: none; */
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: solid 2px #181444;
  cursor: pointer;
}

.dot--active {
  background-color: #f4811f;
}

.popup__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-success {
  width: 60%;
  background-color: #3a3632;
}

.popup-success__content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-popup-btn {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  cursor: pointer;
  border: none;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.hidden-popup {
  display: none;
}

/* @keyframes opacityDisplay {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
} */

@media only screen and (max-width: 769px) {
  .banner__content {
    padding-top: 0px;
    padding-left: 0;
    height: 100vh;
    justify-content: center;
    padding: 10px;
  }

  #days,
  #hours,
  #minutes {
    display: flex;
    margin: 0px 30px;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .banner__content--des,
  .banner__content--title {
    text-align: center;
    font-weight: 400;
  }

  .banner__content--title {
    font-size: 3rem;
  }

  .header__countdown {
    flex-direction: column;
    width: 100%;
    gap: 30px;
    font-size: 40px;
    padding-top: 0;
  }

  .header__button {
    justify-content: start;
    width: fit-content;
    gap: 10px;
  }

  .header__button-text {
    padding-left: 10px;
  }

  .banner__content--btn {
    display: flex;
    justify-content: center;
  }

  .popup-content {
    margin: 50% auto;
    border-radius: 18px;
  }

  .customer__description {
    width: 90%;
  }

  .contact__container-content {
    padding-bottom: 20px;
  }

  .about__content-list {
    grid-template-columns: 40% 30% auto;
    grid-template-columns: 1fr;
  }

  /* .customer_content {
    flex-direction: column;
  } */
}

@media only screen and (max-width: 1200px) {
  /* .customer_content {
    flex-direction: column;
  } */
}
